*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #34495e;
}

.calculator {
  background-color: #34495e;
  height: auto;
  width: 600px;
  border-radius: 10px;
}

.calculator__display {
  height: 110px;
  background-color: #130f40;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  gap: 0.5rem;
  word-break: break-all;
  word-wrap: break-word;
}

.prev-display {
  font-size: 22px;
}
.cur-display {
  font-size: 32px;
}

.calculator__content {
  padding: 20px;
  /* width: 100%; */
  background-color: #130f40;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  border-radius: 10px;
}

.btn {
  padding: 10px;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  font-size: 40px;
  cursor: pointer;
}

.btn:hover {
}

.del,
.reset,
.equal {
  background-color: #34495e;
  color: #fff;
  text-transform: uppercase;
}
.reset {
  grid-column: 1/3;
}
.equal {
  grid-column: 3/-1;
  background-color: #f0932b;
}
